body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

main {
  margin-top: 20px;
}

canvas {
  border: 3px solid white;
  background: linear-gradient(#111, #000);
}

#message {
  margin-top: 20px;
  font-size: 32px;
  color: #0ff;
}

#message p {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #0ff;
  border: none;
  color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}
