body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 20px;
}

canvas {
  border: 3px solid white;
  background-color: #111;
}

.scoreboard {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0ff;
}

#message {
  font-size: 48px;
  color: white;
  margin-top: 20px;
  text-shadow: 2px 2px 5px red;
}

.hidden {
  display: none;
}
